html,body{
    height: 100%;
}
body{
    margin: 0;
    background-color: #f6f6f6;
    background: url('/static/images/bg.jpg') repeat-x left cener;
}
#app{
    height: 100%;
}
ul,li,ol{ 
    margin:0; 
    padding:0; 
    list-style: none;
}
a{ text-decoration: none;}
/* 公共基础样式 */
.bg-dark{ background: #333;}
.bg-white{ background: #fff;}
.bg-gray{ background: #f6f6f6;}
.border-bottom{ border: 1px solid #eee;}